<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/3d96e78d-19a3-44b3-a337-c5da515b258c/v3/index.json" />
  </packageSources>
</configuration>